body {
    font-family: 'Abel', sans-serif;
    background-color: #F3F3F3;
}
@font-face {
    font-family: FTRAMD;
    src: url('../fonts/FTRAMD_.TTF');
}
.clear {
    clear: both;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.dbparent-tabs {
    border-bottom: 1px solid #ccc;
}
.dbparent {
    padding: 5px 20px 5px 10px;
    margin-bottom: 2px;
    cursor: pointer;
    color: #ccc;
    font-weight: bold;
    font-size: 19px;
}
.dbparent span.glyphicon {
    font-size: 12px;
    top: -2px;
}
.dbparent-selected {
    color: #000;
}
.dbcontainer {
    display: none;
    max-height: 500px;
    overflow-y: auto;
}
.dbcontainer ul {
    padding-left: 28px;
    line-height: 15px;
}
/*
    background: url(../img/Shine/PNG/24x24/21_24x24.png) 0px 1px no-repeat;
    padding: 0 0 0 32px;
*/
.dbcontainer ul li {
    list-style: none;
    border-bottom: 1px dashed #ccc;
    padding: 4px 0;
}
td {
    vertical-align: top;
}
.anitem {
    cursor: pointer;
}
.anitem:hover {
    color: #d31145;
}
.anitem span {
    float: right;
    margin-right: 20px;
}
div#itemform-con {
    padding: 20px;
    min-width: 500px;
    /*
    margin: 0 20px 20px 20px;
    */
}
.folder-col {
    background-color: #333;
    color: #fff;
}
.folders-container {

    padding: 20px;
}
.folderitem {
    cursor: pointer;
}
.navbar-default {
    border-color: #fff;
    background-color: #fff;
}
.white-bg {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 6px -1px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    0px 0px 6px -1px rgba(50, 50, 50, 0.1);
    box-shadow:         0px 0px 6px -1px rgba(50, 50, 50, 0.1);
    border-radius: 2px;
    padding: 5px;
    width: 100%;
}
